<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RabbitMqUri" value="localhost:5672" />
    <add key="SubQueueNames" value="PressureTest" />
    <add key="QueueId" value="PressureTest" />
    <add key="RmqExpiration" value="10000" />
    <add key="ProducerInterval" value="1" />
    <add key="ProducerBatchCount" value="400" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>