<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="TimerInterval" value="5000" />
    <add key="RedisAffixKey" value="Ball" />
    <add key="RedisDataSet" value="0" />
    <add key="TargetRepoType" value="Redis" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=35.187.242.76;database=ts111_ball;uid=Test_BD;pwd=BDHz93Gh5X9k7P2W;" providerName="System.Data.SqlClient" />
    <add name="MongoConnectionString" connectionString="mongodb://localhost:27017" />
    <add name="RedisConnectionString" connectionString="localhost:6379" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>